/*#region index */

/*navbar*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Slab", serif;
}

body {
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    font-size: 30px;

}


.titleshadow{
    text-shadow: 2px 2px 5px white;
}
.navlink {
    text-align: center;
}
.navlink:hover{
    color: rgb(48, 219, 57);
    transition: all 0.3s ease-out;
}
.navlink:focus{
    color: rgb(48, 219, 57);
}

.navlink2:hover{
    color: rgb(243, 247, 243);
    transition: all 0.3s ease-out;
}
.navlink2:focus{
    color: rgb(244, 250, 244);
}
.decoration {
    text-decoration: none;
}



/* BODY PAGE D'ACCUEIL*/

.search {
    background-image: url(/image/covoit.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    height: 1000px;
    border-radius: 100%;
    gap: 30px;
}

.tittle {
    color: rgb(216, 149, 26);
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
    font-size: 2em;
    top: -250px;
}

.form {
    position: relative;
    top: -200px;
}
.cacher {
    display: none;
}

.input {
    border: 2px solid black;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}

.inputdate {
    width: 130px;
    height: 38px;
    border-radius: 40px;
    text-align: center;
}

.find {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    box-shadow: 0 4px 10px;
}

.find:active{
    transform: scale(0.9);
    color:  #ffffff; ;
}

/* AVANTAGES */

.advantages {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.advantages h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #2c3e50;
}

.advantage-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.advantage {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.advantage:hover {
    transform: scale(1.05);
}

.advantage h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #27ae60;
}

.advantage p {
    font-size: 1em;
    color: #555;
}

/*présentation + images */
.carpool {
    display: flex;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    gap: 30px;
    color: rgb(214, 161, 63);
    text-shadow: 1px 1px rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.presentation1 {
    display: flex;
    background-image: url(/image/presentation1);
}
.presentation2 {
    flex-direction: column;
    align-content: center;
}
.presentation3 {
    height: 700px;
    flex-direction: column;
    align-content: end;
}

.carpoolimg {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
}

/* Footer */

.footer {
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*#endregion index*/

/*#region Covoiturage */
html, body {
    height: 100%;
    margin: 0;
}

button{
    cursor: pointer;
}
.searchcar {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 100px;
}

.order1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.order2 {
    height: 40px;
    width: 120px;
    border-radius: 40px;    
    text-align: center;   
    font-size: 15px;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    margin-top: 20px;
}

/****** PROFIL UTILISATEUR ******/


.filtered {
    display: flex;    
    gap: 20px;
    background-color: #f3f7f4;
    border-radius: 20px;
    box-shadow: 0 4px 10px;
}


.backdriver {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    padding-top: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 10px;
}

.driver {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.driver1 {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(69, 157, 216), rgb(23, 218, 55));
    width: 900px;
    border: 1px solid rgb(153, 102, 255);
    box-shadow: 0 4px 10px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/****** BOUTTON TRIEZ PAR ******/

.souligne {
    text-decoration: underline;
    
}

.title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: start;
}
/****** Premier block : pseudo;image,note ******/

.userimg {

    border-radius:50%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px  rgb(20, 20, 20);
     
}
.userimg img {
    width: 100%;
    height: 100%;
    
    object-fit: cover; /* recadre l’image sans déformation */
    display: block;    /* supprime l’espace blanc sous img */
}
.carimg:hover {
    transform: scale(1.05);
}

.profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.pseudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.reserved{
    display: flex;
    align-items: center;
    font-size: 20px;  
    gap: 20px; 
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 1em;
    
}

.reservedbutton{
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 20px;
    border-radius: 20px;
    width: 150px;
    box-shadow: 2px 2px 5px;
}

.reservedbutton:active{
    transform: scale(0.9);
    color:  rgb(23, 218, 55);
}
/****** Deuxième block : départ, destination ******/

.arrowdown {
    width: 40px;
    height: 40px;
}

.destination {
    margin-bottom: 25px;
    
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    text-align: center;      
    gap: 10px;              
}



.startfinish {
    display: flex;

    font-size: 20px;
    justify-content: center; 
    align-items: center;     
}

.start{
    text-align: center;

}

.line{
    padding-left: 10px;
}
/****** Troisième block : nombes de place disponibles ******/

/****** Quatrième block :icone voiture , temps trajet , prix */

.eleccar {
    width: 40px;
}

.priceplace {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

/*#endregion covoiturage*/

/*#region Renseignement */

/* INFORMARTION SUR LE PROFIL UTILISATEUR AINSI QUE SUR LE TRAJET      */
html, body {
    height: 100%;
    margin: 0;
}


.information {
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 2px 2px 5px;
}


.infopseudo{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
}
/*  PSEUDO, PHOTO DE PROFIL ET NOTE    */
.pseudo {
    margin-top: 10px;
    padding-bottom: 15px;
}
/*  INFORMATION SUR LE TRAJET , PRIX,DATE DE DEPART,TEMPS TRAJET, HEURE,POINT DE DEPART ET D'ARRIVEE, PREFERENCE DU PILOTE.  */
.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: linear-gradient(rgb(69, 157, 216), rgb(153, 102, 255));
    box-shadow: 2px 2px 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}



.pricetime {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.info2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 25px;
}

.preference {
    padding-bottom: 40px;
}

/* NOMBRE DE PLACE DISPONIBLE , PHOTO DU VEHICULE AVEC LA MARQUE LE MODELE ET LE SYMBOLE ECO PRESENT OU NON */
.car {
    padding-top: 20px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
}

.carimg2 {
    width: 200px;
    border-radius: 20%;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(73, 73, 73);
    margin-left: 30px;
}

.userimg2 {
    width: 150px;
    border-radius: 50%;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(73, 73, 73);
    margin-right: 20px;
}

.brand {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
}

/* COMMENTAIRE DES AUTRES UTILISATEURS LAISSER APRES LEURS TRAJET AFIN D'EVALUER LEURS EXPERIENCE */
.comment {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(153, 102, 255));
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
}
.notecomment {
    display: flex;
    align-items: end;
    padding-right: 10px;
    font-size: 25px;
}
.titlecomment {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.comment1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(153, 102, 255));
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px;
}

/*#endregion Renseignement*/

/*#region connexion */
html, body {
    height: 100%;
    margin: 0;
}

.inputlog{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    gap: 10px;
    
}
.inputlog > div:first-child {
    width: 125px;
    text-align: left;
    margin-left: 10px;
}

.inputsize{
    width: 250px;
    height: 25px;
    border-radius: 50px;
}
.username{
    padding-bottom: 10px;
}
.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imglog{
    width: 200px;
    padding-top: 80px;

}
.infolog{
    font-size: 40px;

}

.checkbox{
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.connexion{
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 30px;
    text-align: center;
    width: 510px;
    border-radius: 10px;
}

.account{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.accounts:hover{
    color: rgb(150, 119, 212) ;
}
/*#endregion connexion*/

/*#region création de compte*/

.titleaccount{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.accountcreation{

    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 30px;
    font-size: 20px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    margin-left: 30% ;
    margin-right: 30% ;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 30px;
}

.labelaccount{
    text-align: center;
}
.accountext{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    
}

.accountext > div:first-child {
    width: 250px;
    text-align: right;
    margin-right: 10px;
}

.buttonaccounts{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttonaccount{
    width: 190px;
    height: 35px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}


/*#endregion connexion au compte*/

/*#region  réinitialiser le mdp*/


.resetpass{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-size: 25px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    margin-left:20% ;
    margin-right:20% ;
    border-radius: 30px;
    
}

.inputmail{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.buttonmail{
    width: 200px;
    height: 40px;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    margin-top: 20px;

}
/*#endregion réinitialiser le mdp*/

/*#region  Utilisateur*/


/* photo et information personnelle */
.userprofil{
    display: flex;
    text-align: center;    width: 100%;

}

.mainuser{
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    width: 450px;
    min-height: 880px;
    text-align: center;
    padding: 20px;
    position: fixed;
    padding-bottom: 10%;
}

.picturesprofil{
    max-width: 150px;
    border-radius: 75px;
}

.pictures{
    max-width: 500px;
    border-radius: 75px;

}
/* chauffeur / passager */

.driverpassenger{
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(15, 15, 15));
    font-size: 1.5em;
    border-radius: 10px; 
    color: rgb(241, 238, 238);
    border: none;
    border: solid black;
    box-shadow: 2px 2px 5px;
}

.driverpassenger:active{
    transform: scale(0.9);
}

.driverpassenger:hover{
    color:rgb(14, 241, 67);
    
}

.driverpassenger:focus{
    color:rgb(14, 241, 67);
}

.driverpassengers{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Formulaire */
.userform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

/* Créer un trajet / trajet en cours */
.currentjourney{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 30px;
    flex-grow: 1;
    
}

.createlook:hover{
color: rgb(48, 219, 57);
}

.routestyle{
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(15, 15, 15));
    font-size: 1em;
    border-radius: 20px;   
    color: rgb(252, 251, 250);
    padding:5px 10px 5px 10px;
}

/* Historique */

.backgroundhistorical {

    background: linear-gradient(rgb(69, 157, 216), rgb(23, 218, 55));
    width: 800px;
    border: 1px solid rgb(153, 102, 255);
    box-shadow: 0 4px 10px;
    border-radius: 20px;

}

.historical{
    font-size: 40px;
    width: 1000px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;


}
.historical2{
    font-size: 40px;
    width: 1000px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;

}

.journey{
    display: flex;
    gap: 100px;
    justify-content: start;
    margin-left: 300px;
}

.historicals{
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.hidden {
    display: none !important;
}

.driverhistorical{
    display: flex;
}

.profilhistorical {
    display: flex;
    justify-content: center;
}

.priceplacehistorical {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}

.reservedstartstop {
    display: flex;
    font-size: 20px;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    flex-direction: column;
    margin-top: 200px;
}



.start{
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;   
    background-color: rgb(14, 241, 67);
    border: none;
    gap: 30px;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}

.stop{
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;   
    background-color: #d41818;
    border: none;
    gap: 30px;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}

.finish {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;   
    background-color: rgb(69, 157, 216);
    border: none;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;   
}
.stop:active{
    transform: scale(0.9);
}

.start:active{
    transform: scale(0.9);
}
.finish:active{
    transform: scale(0.9);
}

.startstop{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-left: 0.5em;

}

.start:hover, .stop:hover, .finish:hover{
    color: #ffffff;
}

/*#endregion Utilisateur*/

/*#region  créer un trajet*/

.trajetcreation{

    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 30px;
    font-size: 20px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    margin-left: 700px;
    margin-right: 300px ;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 120px;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 300px;
}

.submitbutton{
    padding-left: 100px;
    padding-top: 30px;
}

.inputroute {
    width: 180px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

/*#endregion créer un trajet*/