/*#region index */

/*navbar*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Slab", serif;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 2em;
}

.titleshadow {
    text-shadow: 2px 2px 5px white;
}
.navlink {
    text-align: center;
}
.navlink:hover {
    color: rgb(48, 219, 57);
    transition: all 0.3s ease-out;
}
.navlink:focus {
    color: rgb(48, 219, 57);
}

.navlink2:hover {
    color: rgb(243, 247, 243);
    transition: all 0.3s ease-out;
}
.navlink2:focus {
    color: rgb(244, 250, 244);
}
.decoration {
    text-decoration: none;
}

/* BODY PAGE D'ACCUEIL*/

.search {
    background-image: url(/image/covoit.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    height: 60em;
    border-radius: 100%;
    gap: 1.2em;
}

.tittle {
    color: rgb(216, 149, 26);
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
    font-size: 2em;
    top: -2em;
}

.form {
    position: relative;
    top: -1.5em;
}
.cacher {
    display: none;
}

.input {
    border: 2px solid black;
    width: 15em;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
}

.inputdate {
    width: 8em;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.3em;
}

.findCheck1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 2em;
    border-radius: 3em;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    box-shadow: 0 4px 10px;
    margin-top: 0.5em;
    font-size: 1em;
    padding:  0.5em 0.5em 0.5em 0.5em;
}

.findCheck2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 2em;
    border-radius: 3em;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    box-shadow: 0 4px 10px;
    margin-top: 0.5em;
    font-size: 1em;
    
}

.finddelete {
    width: 10em;
    height: 3em;
    border-radius: 3em;
    background: linear-gradient(rgb(69, 157, 216), rgb(247, 51, 3));
    box-shadow: 0 4px 10px;
    margin-top: 1em;
    font-size: 1em;
}

.findCheck:active {
    transform: scale(0.9);
    color: #ffffff;
}

/* AVANTAGES */

.advantages {
    text-align: center;
    padding: 2em 1em;
    background-color: #f9f9f9;
    margin-top: 1em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.advantages h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #2c3e50;
}

.advantage-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.advantage {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.8em;
    padding: 1em;
    max-width: 15em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.advantage:hover {
    transform: scale(1.05);
}

.advantage h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #27ae60;
}

.advantage p {
    font-size: 1em;
    color: #555;
}

/*présentation + images */
.carpool {
    display: flex;
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    gap: 1.5em;
    color: rgb(214, 161, 63);
    text-shadow: 1px 1px rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

@media screen and (max-width: 1024px) {
    .carpool {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2em;
        line-height: 2em;
        gap: 1.5em;
        color: rgb(214, 161, 63);
        text-shadow: 1px 1px rgb(0, 0, 0);
        background-color: rgb(252, 252, 252);
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}

.presentation1 {
    display: flex;
    background-image: url(/image/presentation1);
}
.presentation2 {
    flex-direction: column;
    align-content: center;
}
.presentation3 {
    display: flex;
    height: 20em;
    align-items: end;

    padding-bottom: 1em;
}

@media screen and (max-width: 1024px) {
    .presentation3 {
        display: flex;
        justify-content: end;
        align-items: baseline;
    }
}

.carpoolimg {
    width: 15em;
    height: 13em;
    display: flex;
    justify-content: flex-start;
    border-radius: 1em;
}

/* Footer */

.footer {
    color: rgb(0, 0, 0);
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.legalnotice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin: 5em 20em 5em 20em;
}

/*#endregion index*/

/*#region Covoiturage */
html,
body {
    height: 100%;
    margin: 0;
}

button {
    cursor: pointer;
}

.searchcar {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    
}

.order1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.order2 {
    width: 7em;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.3em;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px;
    border-radius: 1em;
    width: 120px;
    height: 30px;
    margin-top: 1em;
}

/****** PROFIL UTILISATEUR ******/

.profil {
    text-shadow: 2px 2px 5px white;
    font-size: 1.2em;
}

.filtered {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 1em;
    background-color: #f3f7f4;
    width: 50em;
    border-radius: 1em;
    box-shadow: 0 4px 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.backdriver {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 2%;
    padding-top: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 10px;
}

.driver {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.driver1 {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(69, 157, 216), rgb(23, 218, 55));
    width: 900px;
    border: 1px solid rgb(153, 102, 255);
    box-shadow: 0 4px 10px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/****** BOUTTON TRIEZ PAR ******/

.souligne {
    text-decoration: underline;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: start;
}
/****** Premier block : pseudo;image,note ******/

.userimg {
    border-radius: 7em;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(20, 20, 20);
    width: 7em;
    height: 7em;
}

.userimgsearch {
    border-radius: 6em;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(20, 20, 20);
    width: 5em;
    height: 5em;
}

.carimg:hover {
    transform: scale(1.05);
}

.profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-right: 1em;
}

.pseudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.reserved {
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 1em;
    padding-bottom: 1em;
    justify-content: center;
    margin-top: 1em;
}

.reservedbutton {
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 1em;
    border-radius: 1em;
    width: 6em;
    padding: 0.5em  0.5em  0.5em  0.5em;
    box-shadow: 2px 2px 5px;
    text-shadow: 2px 2px 5px white;
}

.reservedbutton:active {
    transform: scale(0.9);
    color: rgb(23, 218, 55);
}
/****** Deuxième block : départ, destination ******/

.arrowdown {
    width: 40px;
    height: 40px;
}

.destination {
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 1.1em;
    padding-left: 1em;
}

.startfinish {
    display: flex;
    text-shadow: 2px 2px 5px white;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.start {
    text-align: center;
}

.line {
    padding-left: 10px;
}
/****** Troisième block : nombes de place disponibles ******/

/****** Quatrième block :icone voiture , temps trajet , prix */

.eleccar {
    width: 40px;
}

.priceplace {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

/*#endregion covoiturage*/

/*#region Renseignement */

/* INFORMARTION SUR LE PROFIL UTILISATEUR AINSI QUE SUR LE TRAJET      */
html,
body {
    height: 100%;
    margin: 0;
}

.info0 {
    display: flex;
    justify-content: center;
}

.information {
    background-image: url(/image/covoit.jpg);
    background-size: 100%;
    background-position-y: 30%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    width: 60em;
    border-radius: 2em;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
    box-shadow: 2px 2px 5px;
}

.infopseudo {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 2em;
    text-shadow: 2px 2px 5px white;
}
/*  PSEUDO, PHOTO DE PROFIL ET NOTE    */
.pseudo {
    margin-top: 1em;
    padding-bottom: 1em;
}
/*  INFORMATION SUR LE TRAJET , PRIX,DATE DE DEPART,TEMPS TRAJET, HEURE,POINT DE DEPART ET D'ARRIVEE, PREFERENCE DU PILOTE.  */
.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-shadow: 2px 2px 5px white;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 2em;
}

.pricetime {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    gap: 3em;
}

.info2 {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 2em;
}

.preference {
    padding-bottom: 40px;
}

/* NOMBRE DE PLACE DISPONIBLE , PHOTO DU VEHICULE AVEC LA MARQUE LE MODELE ET LE SYMBOLE ECO PRESENT OU NON */
.car {
    padding-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px white;
    padding-left: 2em;
    padding-top: 100px;
}

.carimg2 {
    width: 200px;
    border-radius: 20%;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(73, 73, 73);
    margin-left: 30px;
}

.userimg2 {
    width: 10em;
    border-radius: 50%;
    margin-left: 1em;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(73, 73, 73);
    margin-right: 1em;
}

.userimg3 {
    width: 6em;
    border-radius: 3em;
    margin-left: 1em;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 5px 5px rgb(73, 73, 73);
    margin-right: 1em;
}

.brand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding-top: 1em;
}

/* COMMENTAIRE DES AUTRES UTILISATEURS LAISSER APRES LEURS TRAJET AFIN D'EVALUER LEURS EXPERIENCE */
.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
}
.notecomment {
    display: flex;
    align-items: baseline;
    padding-right: 1em;
    font-size: 1.5em;
}
.titlecomment {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.comment0 {
    display: flex;
    justify-content: center;
}
.comment1 {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 2em;
    background-image: url(/image/comment.jpg);
    background-size: 100%;
    background-position-y: 30%;

    background-repeat: no-repeat;

    gap: 2em;
    width: 50em;
    padding-top: 1em;

    text-align: center;
    border-radius: 1em;
    box-shadow: 2px 2px 5px;
    margin-bottom: 1em;
}
.comment1bis {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 2em;
    gap: 2em;
    width: 50em;
    padding-top: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 2px 2px 5px;
    margin-bottom: 1em;
}

/*#endregion Renseignement*/

/*#region connexion */
html,
body {
    height: 100%;
    margin: 0;
}

.inputlog {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    gap: 1em;
}
.inputlog > div:first-child {
    width: 125px;
    text-align: left;
    margin-left: 1em;
}

.inputsize {
    width: 250px;
    height: 2em;
    border-radius: 50px;
}
.username {
    padding-bottom: 1em;
}
.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.imglog {
    width: 200px;
    padding-top: 80px;
}
.infolog {
    font-size: 2em;
}

.checkbox {
    margin-right: 20%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

.connexion {
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 2em;
    text-align: center;
    width: 510px;
    border-radius: 10px;
}

.account {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.accounts:hover {
    color: rgb(150, 119, 212);
}
/*#endregion connexion*/

/*#region création de compte*/

.titleaccount {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.accountcreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 30px;
}

.labelaccount {
    text-align: center;
}
.accountext {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accountext > div:first-child {
    width: 250px;
    text-align: right;
    margin-right: 10px;
}

.buttonaccounts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttonaccount {
    width: 190px;
    height: 35px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

/*#endregion connexion au compte*/

/*#region  réinitialiser le mdp*/

.resetpass {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-size: 25px;
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
}

.inputmail {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.buttonmail {
    width: 200px;
    height: 40px;
    background: linear-gradient(rgb(69, 157, 216), rgb(48, 219, 57));
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    margin-top: 20px;
}
/*#endregion réinitialiser le mdp*/

/*#region  Mon Compte */

/* photo et information personnelle */

.creditnav {
    display: flex;
    justify-content: end;
    gap: 1.5em;
    margin-right: 5em;
    font-size: 2em;
    text-shadow: 2px 2px 5px white;
}
.credit {
    color: rgb(23, 161, 30);
}

.userprofil {
    display: flex;
    text-align: center;
}

.modify{
    display: flex;
    justify-content: center;
}


.userprofilcurrentjourney {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    width: 100%;
}

.mainuser {
    background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
    width: 30em;
    
    position:fixed;
    text-align: center;
    padding: 1em;
    height: 50em;
    overflow-y: auto;
    
    
}

.picturesprofil {
    width: 6em;
    border-radius: 5em;

    
}

.picturesprofilsearch {
    width: 5em;
    border-radius: 3em;

}


/* chauffeur / passager */

.driverpassenger {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(15, 15, 15));
    font-size: 1.5em;
    border-radius: 10px;
    color: rgb(241, 238, 238);
    border: none;
    border: solid black;
    box-shadow: 2px 2px 5px;
}

.driverpassenger:active {
    transform: scale(0.9);
}

.driverpassenger:hover {
    color: rgb(14, 241, 67);
}

.driverpassenger:focus {
    color: rgb(14, 241, 67);
}

.driverpassengers {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*  Modification du formulaire voiture */

.car {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Formulaire */
.userform {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carshow {
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Créer un trajet / trajet en cours */
.currentjourney {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 5em;
    margin-left: 15em;
    font-size: 2em;
    flex-grow: 1;
}

.createlook:hover {
    color: rgb(48, 219, 57);
}

.routestyle {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(69, 157, 216), rgb(15, 15, 15));
    font-size: 1em;
    border-radius: 20px;
    color: rgb(252, 251, 250);
    padding: 5px 10px 5px 10px;
}

/* Historique */

.backgroundhistorical {
    background-image: url(/image/covoit.jpg);
    background-size: cover;
    width: 800px;
    border: 1px solid rgb(153, 102, 255);
    box-shadow: 0 4px 10px;
    border-radius: 20px;
}

.historical {
    font-size: 40px;
    width: 1000px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}
.historical2 {
    font-size: 40px;
    width: 1000px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;

}

.journey {
    display: flex;
    gap: 100px;
    justify-content: start;
    margin-left: 300px;
}

.historicals {
    border-radius: 0.8em;
    display: flex;
    align-items: center;
    font-size: 0.5em;
    gap: 1em;
    padding-bottom: 1em;
    padding-top: 1.2em;
    padding-left: 5em;

}

.hidden {
    display: none !important;
}

.driverhistorical {
    display: flex;
}

.profilhistorical {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1em 3em 1em 3em;
}

.priceplacehistorical {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding-left: 2em;
    text-shadow: 2px 2px 5px white;
}

.reservedstartstop {
    display: flex;
    font-size: 20px;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    flex-direction: column;
    margin-top: 200px;
}

.start {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;
    background-color: rgb(14, 241, 67);
    border: none;
    gap: 30px;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}

.stop {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;
    background-color: #d41818;
    border: none;
    gap: 30px;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}

.finish {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    border-radius: 10px;
    background-color: rgb(69, 157, 216);
    border: none;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}&
.stop:active {
    transform: scale(0.9);
}

.start:active {
    transform: scale(0.9);
}
.finish:active {
    transform: scale(0.9);
}

.startstop {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-left: 0.5em;
}

.start:hover,
.stop:hover,
.finish:hover {
    color: #ffffff;
}

/*#endregion Utilisateur*/

/*#region  créer un trajet*/

.trajetcreation {
    display: flex;
    justify-content: center;

}

.trajetcreation1{
margin-top: 10em;
background: linear-gradient(rgb(69, 157, 216), rgb(81, 42, 158));
display: flex;
flex-direction: column;
padding: 0em 2em 2em 0em;
border-radius: 1em;
gap: 1em;
text-align: center;
}

.detailprofil{
    display: flex;
    justify-content: center;
     margin-top: 3em;
   
}

.profilform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5em;
    gap: 1em;
}

.submitbutton {
    margin-top: 2em;
    margin-left: 17em;
}

.inputroute {
    width: 180px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

/*#endregion créer un trajet*/

/*#region  employe*/

.titlecomment {
    display: flex;
    justify-content: center;
}

.employecomment1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
    margin-top: 5em;
}

.employecomment2 {
    display: flex;
    width: 45em;
    justify-content: center;
    background-image: url(/image/controle.jpg);
    background-size: cover;
    color: #f3f7f4;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 2px 2px 5px;
}

.checkbutton {
    border-radius: 30px;
}

.pictureemploye {
    width: 150px;
    border-radius: 100px;
}
/*#endregion  employe*/

/*#region admin */
.searchmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 5em 0em 3em 3em;
    font-family: "Roboto Slab", serif;;
}

.canvas {
    display: flex;
    justify-content: center;
    gap: 5em;
    text-align: center;
}


/*#endregion  admin*/
