{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
    <header>
        <nav class="container titleshadow">
            <div><a href="{{ path('home') }}" class="decoration navlink">Accueil</a></div>
            <div><a href="" class="decoration navlink">Covoiturage</a></div>
            <div><a href="#" class="decoration navlink">Contact</a></div>
            <div><a href="{{ path('myaccount') }}" class="decoration navlink">Mon compte</a></div>
            <div><a href="{{ path('connection') }}" class="decoration navlink">Connexion</a></div>
            <div><a href="" class="decoration navlink">Deconnexion</a></div>
        </nav>
    </header>

<div class="accountcreation">
            <div class="accountext">
                <div><label >Pseudo :</label></div>
                <div></div>
            </div>

            <div class="accountext">
                <div><label >Nom :</label></div>
                <div></div>
            </div>

            <div class="accountext">
                <div><label >Prénom :</label></div>
                <div></div>
            </div>

            <div class="accountext">
                <div><label >Adresse-mail :</label></div>
                <div></div>
            </div>
            
            <div class="accountext">
                <div><label >Mot-de-passe :</label></div>
                <div></div>
            </div>
<div class="buttonaccounts">
    <button type="submit" class="buttonaccount">Créer un compte</button>
</div>
        </div>


{% endblock %}
