{% extends 'base.html.twig' %}

{% block title %}Covoiturage{% endblock %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ asset('script/main.js') }}" defer></script>
{% endblock %}
    
<div class ="legalnotice">
    <div>
        <h1><strong>MENTIONS LEGALES</strong></h1>

        <div>Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site Ecoride, ci-après le "Site", les présentes mentions légales.</div>
        
        <div>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</div>
        
        <div>Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales"</div>
        
        <h2>EDITION DU SITE</h2>

        <div>L’édition et la direction de la publication du Site est assurée par Monsieur alexis gonzales, domicilié 8 rue françois Aymes, dont le numéro de téléphone est 0648318120, et l'adresse e-mail gonzalesalexis999@gmail.com.</div>
        

        <h2><strong>HEBERGEUR</strong></h2>

        <div>L'hébergeur du Site est la société Ecoride, dont le siège social est situé a 8 rue de la fripouille a Gotham City .</div>
        
        <h2>ACCES AU SITE</h2>
        
        <div>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur.</div>
        
        
        <h2><strong>HEBERGEUR</strong></h2>

        <div>L'hébergeur du Site est la société Ecoride, dont le siège social est situé au  8 rue de la fripouille a Gotham City . Le numéro de téléphone de l'hébergeur est le 0606060606.</div>
    
        <h2><strong>ACCES AU SITE</strong></h2>

        <div>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur.</div>

        <h2><strong>COLLECTE DES DONNEES</strong></h2>

        <div>Le Site assure à l'Utilisateur une collecte et un traitement des données personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers aux libertés et dans le respect de la règlementation applicable en matière de traitement des données à caractère personnel conformément au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 (ci-après, ensemble, la <strong>"Règlementation applicable en matière de protection des Données à caractère personnel").</strong></div>
        <br>
        <div>En vertu de la Règlementation applicable en matière de protection des Données à caractère personnel, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur peut exercer ce droit depuis osn espace personnel</div>

        <div>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,sans autorisation expresse de l’Editeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que prévues par la règlementation en vigueur.</div>
    </div>
</div>
    
    
    
    
    
</body>
</html>
{% endblock %}